.OuterBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 225px;
    padding-left: 25px;
    background-color: grey; min-height: 100vh;
    background-size: cover;
}