ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #b9aaaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow-y: auto;
    scrollbar-gutter: stable;

}

nav{
    overflow:hidden; 
    overflow-y:scroll;
}

ul li{
    border : 1px solid #c0c0c0;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #b9aaaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 30px;
}