
.SidebarContainer {
    background: rgb(211, 211, 211);
    bottom: 0px;
    top:0px;
    display: block;
    width:250px;
    height: 100vh;
    left: 0px;
    overflow: auto;
    position: fixed;
}

.logo-img {
    align-items: center;
    padding: 15px;
}
.img {
    height: 65px;
    width: 65x;
}